################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TileFlip/v15
/Library
/Temp
/TileFlip.csproj
/TileFlip.sln
